{% macro renderButton(buttonName,inst,additionalCss="") -%}
{% set button = inst.buttons_to_display()[buttonName] %}
<div id="{{ button['id'] }}" class="action-element-button{{ additionalCss }} {{ inst.getCSSClass(button['name']) }}" data-actionhash="{{ inst.hash }}"
    data-params='{{ button["get_params"]|safe }}'> {{ button["text"] }} </div>

{%- endmacro %}


{% macro renderStateDiv(inst) -%}
<div id="state_{{ inst.hash }}" data-params='{{ inst.getStatefullParams()|safe }}'> </div>
{%- endmacro %}

{% macro renderInputField(name,type,val,inst) -%}
<input id="{{ name }}_{{ inst.hash }}" type="{{ type }}" value="{{ val }}"/> 
{%- endmacro %}